*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.json.gz filter=lfs diff=lfs merge=lfs -text
data/suricata/log/suricata.json filter=lfs diff=lfs merge=lfs -text
data/normal_traffic/*.json.gz filter=lfs diff=lfs merge=lfs -text
